.box{margin-top: 140px;border: 1px solid silver;background-color: #dfe4ea;border-radius: 2px;box-shadow: 0 0 3px 5px slategrey;}
.adjust{padding: 10px;}
.box2{background-color: #dff9fb;float: right;width: fit-content; padding: 20px;border-radius: 10px;}
.p3{font-size: 15px;}
.e{font-size: 25px;font-weight: bold;}